*{
	margin: 0;
	padding: 0;
	font-family: arial;
}
/*{
	display: flex;
	flex-direction: row;
	position: absolute;
}*/
.hed{
	height: 50px;
}
div.logo{
	font-size: 25px;
	padding: 5px;
	font-weight: 600;
	color: #e67e22;
	float: left;
	display: flex;
}
ul{
	text-decoration: none;
	display: block;
}
ul li{
	float: left;
	display: block;
	/*display: flex;
	flex-direction: row;*/
}
ul li a{
	display: block;
	text-decoration: none;
	padding: 10px 20px;
	margin-top: 5px;
	border: 1px solid black;
	margin: 5px;
	border-radius: 13px;
	font-size: 18px;
}
ul li a:hover{
	background: teal;
	color: white;
	border: 1px solid teal;
	border-radius: 13px;
	transition: 2s all;
}
input{
	padding: 10px 20px;
	float: right;
	margin-top: 5px;
	font-size: 18px;
	border-radius: 13px;
	cursor: pointer;
	background: #bdc3c7;
	border: 1px solid #bdc3c7;
	color: black;
}

input:focus{
	width: 250px;
	border: none;
	border-radius: 13px;
	border: 1px solid #bdc3c7;
	transition: 5s;
}
.main{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('back.jpg');
	background-size: cover;
	height: 100vh;
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: row;
	top: 10%;
}
.head{
	position: absolute;
	display: flex;
	flex-direction: row;
}
h1.first{
	color: white;
	margin-top: 10%;
	padding: 5px;
	font-size: 3.2em;
}
h3.secent{
	color: #1abc9c;
	position: absolute;
	margin-left: 20%;
}
.font{
	margin: 0px auto;
	position: absolute;
	margin-top: 25%;
	width: 960px;
	height: 400px;
	align-items: center;
	
}
.font p{
	font-size: 20px;
	text-align: center;
	margin: 0px auto;
	margin-left: 35%;
	color: #95a5a6;
	text-shadow: 5px 5px 30px #c0392b;
	letter-spacing: 1px;
}
.first-btn{
	padding: 15px 20px;
	position: absolute;
	margin-top: 35%;
	margin-left: 45%;
	font-size: 20px;
	border-radius: 20px;
	border: none;
	box-shadow: 3px 5px 30px #c0392b;
}
.first-btn:hover{
	background: red;
	color: white;
	transition: 1s;
	border: none;
	cursor: pointer;
}
.video{
	display: block;
	height: 800px;
	margin-top: 55%;
}
.video h1{
	font-size: 36px;
	text-align: center;
	color: teal;
}
hr{
	width: 660px;
	align-items: center;
	margin-top: 10px;
	margin-left: 28%;
	height: 2px;
	background: teal;
}
.video iframe{
	margin-top: 2%;
	float: left;
	height: 350px;
	width: 400px;
	padding: 10px;
	margin-left: 1.8%;
}
.footer{
	height: 60px;
	margin-top: 5%;
}
.footer p{
	font-size: 18px;
	margin-left: 90%;
}